body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

main{
    width: 75%;
    align-self: center;
}

.bordes2{
 width: 490px;
}

.bordes{
    border: solid black;
}

.textCenter{
    text-align: center;
}

.navMenu{
    width: 10%;
    height: 50vh;
    position: absolute;
        top: 0;
}

/* ----- PORTADA ----- */

.portada{
    width: 100vw;
    margin-left: -20%;
    height: 100vh;
    position: relative;
}
.portada__contenedorImagen{
    width: 70%;
    height: 90%;
    margin: 2% 0 0 3%;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.portada__contenedorTitulo{
    position: relative;
    z-index: 1;
    width: auto;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.portada__contenedorTitulo-box{
    text-align: left;
    margin-left: 15%;
    width: 43%;
}

.portada__contenedorTitulo-titulo{
    font-weight: bold;
    font-size: large;
    letter-spacing: 1.5mm;
    text-transform: uppercase;
}

.portada__contenedorTitulo-subtitulo{
    font-weight: bold;
    font-size: 15mm;
    letter-spacing: 2mm;
    word-spacing: 1.5mm;
    text-transform: uppercase;
}
.boxDesafio-contenedor{
    display: flex;
}

.favoritos__subtitulo{
    font-weight: bold;
    font-size: 15mm;
    letter-spacing: 2.5mm;
    word-spacing: 1.5mm;
    text-transform: uppercase;
    text-align: center;
    margin: 5% 0 5% 0;
}
.container__favoritos-box{
    margin-bottom: 100px;
}

.container__jabonesImagen-img{
    width: 100%;
    height: 401px;
    object-fit: cover;
    object-position: 50% 50%;
}

.carritoContenedor{
    display: flex;
    position: relative;
    flex-direction: column-reverse;
    align-items: flex-end;
}

.icon{
    font-size: 25px;
}

.carritoContenedor_icono{
    align-self: center;
}

.cantidadCarrito{
    
    position: absolute;
    width: auto;
    height: auto;
    border: solid black;
    border-radius: 20px;
    background-color: #faf7f2;
    font-size: 15px;
    padding: 5px;
}

.contenedorCartas{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedorCartas__titulo{
    height: 15%;
    text-transform: uppercase;
}

.contenedorCartas__texto{
    height: 20%;
    text-transform: uppercase;
    text-align: center;
}

.contenedorCartas__precio{
    height: 10%;
    text-align: center;
}

.contenedorCartas__enlace{
    border: solid black 5px;
    width: auto;
    margin: 0;
    margin-left: 0;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    background-color: transparent;
    box-sizing: border-box;
    color: black;
}

.boxDesafio{
    border: solid black 5px;
    margin: 8px;
    margin-left: 0;
    padding: 5px;
    text-decoration: none;
    color: black;
    align-self: flex-start;
    justify-self: flex-start;
}

/* Contenido Producto en canasta */
.producto-canasta {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.producto-canasta img {
    width: 150px;
}

.descripcion-producto {
    text-align: left;
    padding: 20px;
}

.boton-eliminar {
    cursor: pointer;
    background-color:#faf7f2;
    padding: 5px;
    border-radius: 5px;
    color: black;
    position: absolute;
    bottom: 20px;
    right: 20px;
    box-shadow: none;
    border: none;
}

@media only screen and (max-width: 991px){
    .menuBar{
        width: 100%;
    }

    .bordes2{
        width: 100%;
    }
}